<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="persona">
            <h2><span>Persona</span> {{ persona.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ persona.nombre }}</span>
                </dd>
                <dt><span>Sexo</span></dt>
                <dd>
                    <span>{{ persona.sexo }}</span>
                </dd>
                <dt><span>Edad</span></dt>
                <dd>
                    <span>{{ persona.edad }}</span>
                </dd>
                <dt><span>Peso</span></dt>
                <dd>
                    <span>{{ persona.peso }}</span>
                </dd>
                <dt><span>Altura</span></dt>
                <dd>
                    <span>{{ persona.altura }}</span>
                </dd>
                <dt><span>Imc</span></dt>
                <dd>
                    <span>{{ persona.imc }}</span>
                </dd>
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{ persona.fecha }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/persona', persona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
